<div>
  <h1>
    <%= @user.name unless @user.name.nil? %>
  </h1>
  <h1>
    <%= @user.surname unless @user.surname.nil? %>
  </h1>
  <h1>
    <%= @user.login unless @user.login.nil? %>
  </h1>
</div>
