<div>
  <h1>
    <%= @user.name if @user.name %>
  </h1>
  <h1>
    <%= @user.surname if @user.surname %>
  </h1>
  <h1>
    <%= @user.login %>
  </h1>
  <h1><%= link_to 'Admin panel', admin_root_path if @user.admin? %></h1>
</div>
